body
	background: url('/img/bg-top.png') top repeat-x
	font: normal 13px 'Verdana'
strong
	font-weight: bold
#body-wrapper
	margin: 0 auto
	width: 900px
	#head
		padding: 20px
		#logo
			background: url('/img/logo.png') no-repeat
			width: 406px
			height: 104px
			float: left
		#info
			float: right
			h1
				padding: 5px
				color: #4d4d4d
				font: bold 24px 'Verdana'
				text-align: center
				a
					color: #4d4d4d
					font: bold 24px 'Verdana'
					text-decoration: none
					&:hover
						text-decoration: underline
			h2
				padding: 2px
				color: #4d4d4d
				font: normal 20px 'Verdana'
				text-align: center
	ul#main-menu
		position: absolute
		float: left
		margin-top: 87px
		width: 900px
		list-style-type: none
		li
			display: inline
			a
				text-decoration: none
				cursor: hand
				float: left
				display: block
				margin-left: 120px
				padding-top: 10px
				text-align: center
				background: url('/img/bg-link.png') no-repeat
				font: bold 14px 'Verdana'
				color: lighten(#000, 30%)
				width: 142px
				height: 36px
				&:hover
					background: url('/img/bg-vlink.png') no-repeat
					font: bold 14px 'Verdana'
					color: #339
					text-decoration: underline
	#content
		clear: both
		margin-top: 150px
		h1
			background: url('/img/bg-head.png') bottom right no-repeat
			text-align: right
			font: bold 24px 'Verdana'
			padding-bottom: 10px
			color: #00000f
			margin-bottom: 20px
#footer
	background-color: #e6e6e6
	span
		text-align: right
		width: 900px
		display: block
		margin: 0 auto
		padding: 5px
		font: bold 16px 'Verdana'
		color: #4d4d4d
		a
			font: bold 16px 'Verdana'
			text-decoration: none
			color: #339
			&:hover
				text-decoration: underline
